<h1>Meu app</h1>
<p>card works!</p>
<button>Olá, cabeça</button>
<div class="lista-com-botao">
  <ul>
    <li *ngFor="let produto of produtos; let i = index"
    (click) ="excluir(i)">

     {{i+1}} {{ produto }}
    </li>
  </ul>
  <button (click)="adicionar()">Adicionar</button>

</div>

<div [ngSwitch]="menuType">
  <div *ngSwitchDefault="'user'">
    <ul>
      <li>editar perfil</li>
      <li>adicionar cartão</li>
    </ul>
  </div>
  <div *ngSwitchCase="'admin'">
      <li>editar perfil</li>
      <li>adicionar cartão</li>
      <li>gerenciar usuários</li>
  </div>
  <div *ngSwitchCase="'superUser'">
      <li>editar perfil</li>
      <li>adicionar cartão</li>
      <li>gerenciar usuários</li>
      <li>gerenciar admins</li>
  </div>
</div>
